/**sousuo **/
#purchase-top{
	width:100%;
	}
#purchase-top-tou{
	width:40%;
	display:inline-block;
	margin:0;
	margin:2%;
	font-family:"微软雅黑";
	font-size:20px;
	}
#sousuo{
	width:100%;
	height:auto;
			background-color:#FFF;

	}
	
#sousuo .lishi{
	width:100%;
	border-bottom:solid #f1f1f1 1px;	
	

	}
#sousuo .lishi, p, h4{
	width:90%;
	margin:0 5%;
	color:#666666;
	padding:5px 0;
	}
#sousuo .lishi-2{
	width:60%;
	margin:0 auto;	

	}
/**商品陈列 **/

.chenlie{
	width:100%;
	height:100%;
	}
.chenlie-daohang{
	width:100%;
	height:40px;
	background-color:#fa5053;
	position:fixed;
	}
.chenlie-wenzi{
	width:29.2%;
	height:30px;
	margin:1% 2%;
	float:left;
	text-align:center;
	font-family:"微软雅黑";
	font-size:16px;
	color:#FFF;
	}
.chenlie-dianji{
	border:solid 1px #FFFFFF;
	border-radius:2px;
	padding:1% 7%;
	background-color:#FFF;
	color:#fa5053;
	
	}
.chenlie-shangpin{
	width:100%;
	height:40px;
	
	}
.chenlie-shangpin2{
	width:100%;
	height:110px;
	border-bottom:solid 1px #e5e5e5;
	background-color:#FFF;
	
	}
.chenlie-shangpin-img{
	width:30%;
	height:110px;
	float:left;
	
	
	}
.chenlie-shangpin-1{
	width:70%;
	float:left;
	margin-top:1%;
	font-family:"微软雅黑";
	font-size:18px;
	line-height:26px;
	}
.chenlie-shangpin-2{
	width:70%;
	float:left;
	color:#fa5053;
	font-size:20px;
	line-height:30px;
	font-family:"微软雅黑";
	
	
	}
.chenlie-shangpin-3{
	width:70%;
	float:left;
	color:#999999;
	font-family:"微软雅黑";
	font-size:15px;
	line-height:20px;
	
	}
.chenlie-meiyou{
	width:100%;
	height:100%;
	text-align:center;
	font-family:"微软雅黑";
	font-size:18px;
	line-height:30px;
	color:#999999;
	}
	
	
.chenlie-shangpin-kong{
	width:100%;
	height:100%;
	text-align:center;
	margin-top:80px;
	
	}
.chenlie-shangpin-kong2{
	width:60%;
	padding-top:30px;
	margin:0 auto;
	font-family:"微软雅黑";
	font-size:17px;
	line-height:26px;
	color:#cccccc;
	
	
	}