<!DOCTYPE html>
<html>
	<head>
		<!-- 
		     版权声明 :  地老天荒科技有限公司
		     文件名称 :  adminRegister.html
		     创 建 者   :  Cheng Tao
		     创建日期 :  2018/07/06 10:19
		     文件描述 :  公众号web页面后台注册页面
		     历史记录 :  ----------------------- 
		-->
		<meta charset="UTF-8">
		<title></title>
		<meta name="Author" content="Cheng Tao" />
		<meta name="Copyright" content="地老天荒科技有限公司" />
		<meta name="description" content="公众号web页面后台登录页面" />
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/admin/css/cssInit.css" />
		<script src="/admin/js/rem.js"></script>
		<link rel="stylesheet" type="text/css" href="/admin/css/adminRegister.css"/>
	</head>
	<body>
		<!--最外层容器-->
		<div class="wrap">
			<!--form表单-->
			<form id="form" action="" onsubmit="return false">
				<!--欢迎注册文字和下划线-->
				<div class="title-wrap">
					欢迎注册
				</div>
				<p class="title-down-line"></p>
				<!--文本框-->
				<div class="inpt-wrap">
					<img src="/admin/images/userName.svg" class="user-name" />
					<input type="text" class="inpt" name="phoneNumber" placeholder="请输入用户名" />
				</div>
				<div class="inpt-wrap">
					<img src="/admin/images/lock.svg" class="lock" />
					<input type="password" class="inpt" name="password" placeholder="请输入密码" />
				</div>
				<div class="inpt-wrap">
					<img src="/admin/images/lock.svg" class="lock" />
					<input type="password" class="inpt" name="password" placeholder="请再次输入密码" />
				</div>
				<div class="inpt-wrap">
					<img src="/admin/images/phone.svg" class="phone" />
					<input type="text" class="inpt" name="phoneNumber" placeholder="请输入手机号" />
				</div>
				<div class="verification-code-wrap">
					<input type="text" class="inpt-verification" name="verfyCode" id="inpt-verification" placeholder="请输入验证码"/>
					<button id="verification-code" class="verification-code">发送验证码</button>
				</div>
				<!--submit按钮-->
				<input type="submit" value="立即注册" class="sub-inpt" onclick="show()"/>
			</form>
			
		</div>
		<!--注册成功弹出框容器-->
		<div class="reg-success-wrap" style="display: none;">
				
			<div  class="register-success">
				
				<img class="x-icon" src="/admin/images/x.svg" onclick="hide()"/>
				<img class="success-icon" src="/admin/images/success.svg"/>
				<p style="font-size: 0.9rem;color: #4d4f66;margin-bottom: 0.5rem;">恭喜您注册成功</p>
				<p style="color: #999999;font-size: 0.7rem;">审核结果请等候短信通知</p>
				
			</div>
				
		</div>
		
		<script type="text/javascript">
			var regWrap = document.getElementsByClassName("reg-success-wrap")[0];
			var form = document.getElementById("form");
			function hide(){
				regWrap.style.display = "none";
			}
			function show(){
				regWrap.style.display = "block";
				setTimeout(function(){
					form.onsubmit = "return true";
					form.submit();
				},2000)
			}
			
			
		</script>
		
	</body>
</html>
